@import url(/fonts/Montserrat-Regular.ttf);
.home-page {
  font-family: "Montserrat", sans-serif;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      width: 443px;
      height: 48px;
      border-radius: 8px;
      border: #ccc;
      outline: none;
      padding: 12px 0px 12px 16px;
      color: #808080;
    }
    .a {
      margin-left: -40px;
      margin-bottom: -7px;
    }
    a {
      color: var(--Text-Tittle, #1c3554);
      /* Paragraph/Bold/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      text-decoration: none;
      transition: 0.3s linear;
    }
    a:hover {
      font-weight: 700;
    }
    .a1 {
      color: #1c3554;
      /* Paragraph/Semibold/Body - 16px */
      font-family: "Montserrat SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      padding: 8px 32px;
      border-radius: 8px;
      border: 1px #1c3554;
      cursor: pointer;
      transition: 0.3s linear;
    }
    .a1:hover {
      background: #f72585;
      color: #fff;
      border-style: none;
    }
  }
  header {
    padding: 44px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
  }
  .b3 {
    background: #021934;
    margin-top: 137px;
  }
  .b2 {
    h1 {
      color: #fff;

      /* Heading/Bold/H2 - 64px */
      font-family: Rubik;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 88px; /* 137.5% */
      max-width: 580px;
    }
    .b7 {
      color: #fff;

      /* Paragraph/Reguler/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
      margin-top: 24px;
      max-width: 647px;
    }
    input {
      width: 610px;
      height: 80px;
      flex-shrink: 0;
      color: #000 !important;
      /* Paragraph/Reguler/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
      border-radius: 8px;
      background: var(--Text-white, #fff);
      outline: none;
      padding-left: 56px;
      margin-top: 66px;
    }
    .b4 {
      margin-left: 16px;
      margin-top: 94px;
      position: absolute;
    }
    .b5 {
      color: var(--Text-white, #fff);
      /* Paragraph/Semibold/Body - 16px */
      font-family: "Montserrat SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      padding: 12px 32px;
      border-radius: 8px;
      background: var(--Primary-Pink, #f72585);
      border-style: none;
      cursor: pointer;
      margin-left: -130px;
    }
    .b6 {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        color: var(--Text-white, #fff);
        font-variant-numeric: lining-nums proportional-nums;

        /* Heading/Bold/H6 - 16px */
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
      }
    }
    .b1 {
      margin-top: 56px;
      padding-bottom: 88px;
      display: flex;
      align-items: center;
      gap: 48px;
    }
  }
  .b {
    display: flex;
    align-items: end;
    padding-top: 65px;
    gap: 56px;
  }
  .b8 {
    width: 529px;
    height: 683px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: var(--Text-Disable, #e6e6e6);
  }
  .b10 {
    margin: 47px 0px 0px 71px;
  }
  .b12 {
    margin: 5px 0px 0px 71px;
  }
  .b11 {
    margin: 161px 0px 0px 442px;
  }
  .b13 {
    margin: 61px 0px 0px 315px;
  }
  .c1 {
    color: var(--Text-Tittle, #1c3554);
    font-variant-numeric: lining-nums proportional-nums;
    text-align: center;
    margin-top: 88px;
    /* Heading/Bold/H3 - 48px */
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.984px; /* 133.3% */
  }
  .c {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 56px;
    .c2 {
      color: var(--Other-grey, #aaa);

      /* Paragraph/Semibold/Body - 16px */
      font-family: "Montserrat SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      padding: 8px 32px;
      border-radius: 8px;
      transform: 0.3s linear;
      width: 167px;
      display: flex;
      width: 167px;
      padding: 8px 32px;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      transition: 0.3s linear;
    }
    .c2:hover {
      color: #fff;
      background: #f72585;
    }
  }
  .c6:hover {
    box-shadow: 10px 10px 5px rgb(181, 180, 180);
  }
  .c6 {
    width: 295px;
    height: 427px;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 16px;
    transition: 0.3s linear;
    h2 {
      color: var(--Text-white, #fff);

      /* Paragraph/Semibold/Label - 12px */
      font-family: "Montserrat SemiBold";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 200% */
      padding: 4px 24px;
      border-radius: 8px;
      background: var(--Other-Blue, #4586d6);
      position: absolute;
      margin: -25px 0px 0px 70px;
    }
    h1 {
      color: var(--Text-Tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;
      max-width: 212px;
      /* Heading/Medium/H6 - 16px */
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      text-transform: capitalize;
      margin-top: 16px;
    }
    p {
      color: var(--Primary-Pink, #f72585);

      /* Paragraph/Semibold/Label - 12px */
      font-family: "Montserrat SemiBold";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 200% */
      margin-top: 8px;
    }
    .c4 {
      color: var(--Text-Body, #808080);

      /* Paragraph/Semibold/Caption - 14px */
      font-family: "Montserrat SemiBold";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      margin-left: 8px;
    }
    del {
      color: var(--Text-In-Field, #ccc);

      /* Paragraph/Reguler/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
      margin-top: 22px;
    }
    .c5 {
      color: var(--Text-Tittle, #1c3554);

      /* Heading/Medium/H5 - 24px */
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
      margin-left: 8px;
      margin-top: 22px;
    }
    .c7 {
      display: flex;
      align-items: center;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
  .c3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
  }
  .c9 {
    text-align: center;
    margin-top: 56px;
    button {
      color: var(--Text-white, #fff);
      text-align: center;

      /* Paragraph/Semibold/Body - 16px */
      font-family: "Montserrat SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      width: 288px;
      height: 60px;
      border-radius: 8px;
      background: var(--Primary-Pink, #f72585);
      border-style: none;
      cursor: pointer;
    }
  }
  .d {
    h2 {
      color: var(--Text-Tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;

      /* Heading/Bold/H3 - 48px */
      font-family: Rubik;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 63.984px; /* 133.3% */
      margin-bottom: 56px;
      margin-top: 160px;
    }
    h1 {
      color: var(--Text-white, #fff);
      margin-top: 278px;
      margin-left: 73px;
      position: absolute;
      /* Heading/Medium/H5 - 24px */
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
    }
  }
  .d2 {
    width: 296px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 8px;
    opacity: 0.5;
    background: var(--other-overlay-50, #000);
  }
  .d1 {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  .containe {
    max-width: 1232px;
    margin: 0 auto;
  }
  #d3 {
    max-width: 104px;
    text-align: center;
  }
  .e1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 64px;
    }
    h1 {
      color: var(--Text-Tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;

      /* Heading/Bold/H4 - 32px */
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 150% */
      text-transform: capitalize;
      margin-top: 16px;
      margin-top: 8px;
    }
  }
  .e {
    display: flex;
    justify-content: center;
    gap: 176px;
    margin-top: 200px;
    flex-wrap: wrap;
  }
  .e2 {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
  }
  .f1 {
    width: 50%;
    height: 657px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Text-In-Field, #ccc);
    padding-left: 10px;
  }
  .f2 {
    h1 {
      color: var(--Text-Tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;

      /* Heading/Bold/H3 - 48px */
      font-family: Rubik;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 63.984px; /* 133.3% */
    }
    p {
      color: var(--Text-Body, #808080);

      /* Paragraph/Reguler/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
      max-width: 565px;
    }
    button {
      color: var(--Text-white, #fff);
      border-radius: 8px;
      background: var(--Primary-Pink, #f72585);
      /* Paragraph/Semibold/Body - 16px */
      font-family: "Montserrat SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      padding: 16px 40px;
      border-style: none;
      cursor: pointer;
      margin-top: 40px;
    }
  }
  .f3 {
    margin-top: 24px;
  }
  .f {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
  .f5 {
    width: 60%;
    height: 377px;
    background: var(--Text-In-Field, #ccc);
    img {
      margin: 234px 0px 0px -38px;
      overflow: hidden;
    }
  }
  .f6 {
    h1 {
      color: var(--Text-Tittle, #1c3554);

      /* Heading/Reguler/H4 - 32px */
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px; /* 150% */
      max-width: 672px;
    }
    p {
      color: var(--Text-Tittle, #1c3554);

      /* Heading/Medium/H5 - 24px */
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
      margin-top: 32px;
    }
    h2 {
      color: var(--Text-Body, #808080);

      /* Paragraph/Semibold/Caption - 14px */
      font-family: "Montserrat SemiBold";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      margin-top: 8px;
    }
  }
  .f7 {
    display: flex;
    align-items: center;
    margin-top: 224px;
    justify-content: center;
    gap: 32px;
  }
  .f4 {
    display: flex;
    gap: 48px;
    align-items: center;
  }
  .g1 {
    color: var(--Text-Tittle, #1c3554);
    font-variant-numeric: lining-nums proportional-nums;

    /* Heading/Bold/H3 - 48px */
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.984px; /* 133.3% */
    text-align: center;
    margin-top: 224px;
  }
  .g {
    display: flex;
    flex-wrap: wrap;
    gap: 156px;
    justify-content: center;
    margin-top: 71px;
  }
  .g2 {
    color: var(--Text-Tittle, #1c3554);
    font-variant-numeric: lining-nums proportional-nums;

    /* Heading/Bold/H3 - 48px */
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.984px; /* 133.3% */
    margin-top: 160px;
  }
  .g5 {
    border-radius: 8px;
    background: var(--Text-In-Field, #ccc);
    max-width: 368px;
    height: 240px;
  }
  .g4:hover {
    box-shadow: 10px 10px 5px rgb(220, 219, 219);
  }
  .g4 {
    transition: 0.3s linear;
    padding: 16px;
    border-radius: 8px;
    max-width: 400px;
    height: 518px;
    span {
      color: var(--Text-Body, #808080);

      /* Paragraph/Reguler/caption - 14px */
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      padding: auto;
      -top: 16px;
      margin-right: 8px;
    }
    h1 {
      color: var(--Text-Tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;

      /* Heading/Bold/H5 - 24px */
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      margin-top: 16px;
    }
    p {
      color: var(--Text-Body, #808080);

      /* Paragraph/Reguler/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
      margin-top: 16px;
    }
    h2 {
      color: var(--Primary-Pink, #f72585);

      /* Paragraph/Semibold/Body - 16px */
      font-family: "Montserrat SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      margin-top: 24px;
    }
  }
  .g3 {
    display: flex;
    gap: 16px;
    margin-top: 56px;
  }
  .h1 {
    p {
      color: var(--Text-white, #fff);

      /* Paragraph/Reguler/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
      max-width: 500px;
      margin-top: 36px;
    }
  }
  footer {
    border-radius: 8px;
    background: #021934;
  }
  .h2 {
    h1 {
      color: var(--Text-white, #fff);
      font-variant-numeric: lining-nums proportional-nums;

      /* Heading/Reguler/H5 - 24px */
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 133.333% */
      margin-bottom: 16px;
    }
    p {
      margin-top: 8px;
      color: var(--Text-white, #fff);

      /* Paragraph/Semibold/Body - 16px */
      font-family: "Montserrat SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
    }
  }
  .h {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 80px;
    margin-top: 160px;
  }
  .h3 {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    p {
      color: var(--Text-white, #fff);
      text-align: right;

      /* Paragraph/Reguler/Body - 16px */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
    }
    .h4 {
      display: flex;
    }
  }
  @media (max-width: 1220px) {
    #navbar-responsive {
      position: fixed;
      top: 120px;
      bottom: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ccc;
      transition: 0.5s;
    }

    .menu-btn {
      display: flex;
    }
    .b {
      flex-wrap: wrap;
      justify-content: center;
    }
    .f {
      flex-wrap: wrap;
      justify-content: center;
    }
    .f4 {
      flex-wrap: wrap;
      justify-content: center;
    }
    .g3 {
      flex-wrap: wrap;
      justify-content: center;
    }
    .h {
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 40px;
    }
    .h2 {
      margin-right: 40px;
      margin-bottom: 50px;
    }
  }
  @media (max-width: 645px) {
    .b2 {
      input {
        width: 450px;
      }
    }
    .b8 {
      width: 450px;
      margin-left: -10px;
    }
    .b10 {
      margin: 47px 0px 0px 31px;
    }
    .b12 {
      margin: 5px 0px 0px 31px;
    }
    .b11 {
      margin: 161px 0px 0px 352px;
    }
    .b13 {
      margin: 61px 0px 0px 235px;
    }
    .f1 {
      width: 80%;
      height: 537px;
    }
    .f5 {
      width: 80%;
    }
  }
  @media (max-width: 645px) {
    .h3 {
      flex-wrap: wrap;
    }
    .b5 {
      display: flex;
    }
    .b2 {
      input {
        width: 350px;
      }
    }
    .b8 {
      width: 340px;
    }
    .b10 {
      margin: 47px 0px 0px 1px;
    }
    .b12 {
      margin: 5px 0px 0px 1px;
    }
    .b11 {
      margin: 161px 0px 0px 242px;
    }
    .b13 {
      margin: 61px 0px 0px 135px;
    }
    nav {
      input {
        width: 300px;
      }
    }
  }
}
.dark {
  background: black;
  #light-dark {
    background: transparent;
    fill: gray;
  }
  input {
    background: transparent;
    color: #fff;
  }
  nav {
    .a1 {
      background: gray;
    }
  }
  header {
    background: #000;
  }
  .cards {
    .d2 {
      background: gray;
    }
  }
}

.dark * {
  color: white !important;
}
#light-dark {
  border-style: none;
}
#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}
#navbar-responsive.open {
  left: 0;
}

.menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #333;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
